@charset "UTF-8";

body {
  font-family: "Lato";
}

.raleway {
  font-family: "Raleway";
}

a {
  text-decoration: none;
  display: inline-block;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.thunder {
  float: left;
  font-size: 43px;
}

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.what_text {
  margin-top: 35px;
  font-size: 20px;
  line-height: normal;
  width: 700px;
}

.header_inner {
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact_box {
  background-color: #74cfae;
  padding: 14px 12px;
  float: right;
  font-size: 12px;
  color: white;
  transition: all 0.3s
}

.contact_box:hover {
  background-color: #74cfac;
  padding: 14px 12px;
  float: right;
  font-size: 12px;
  color: #333;
  transition: 0.3s
}



.main {
  padding-top: 73px;
}

.mainbox {
  background-color: #f2f2f2
}

.mainbox_inner {
  padding: 250px 0;
}

.title_text {
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.headline {
  margin-top: 20px;
}

.headline_text {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: #c0c0c0;
}

.greenbox {
  background-color: #74cfae;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.greenbox_inner {
  padding-top: 50px;
}

.iphone_photo {
  float: left;
  width: 200px;
}

.what {
  text-align: center;
  color: white;
}

.what_title {
  font-size: 24px;
}

.greenbox .greenbox_inner {
  display: flex;
  justify-content: space-around;
}

.photo_box {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}

.picture_box {
  margin-top: 40px;
}

.all_picture {
  float: left;
  margin-left: 100px;
}

.all_picture:nth-child(n+4) {
  margin-top: 80px;
}

.all_picture:nth-child(3n+1) {
  margin-left: 0;
}

.picture {
  text-align: center;
  opacity: 0.7;
  transition: 0.3s;
  vertical-align: bottom;
}

.picture:hover {
  text-align: center;
  opacity: 1;
  transition: 0.3s;
}

.our_title {
  font-size: 24px;
  text-align: center;
}

.our_text {
  font-size: 20px;
  text-align: center;
  color: #333;
  width: 600px;
}

.our_mail {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mail_box {
  background-color: #74cfae;
  padding: 14px 12px;
  float: left;
  margin-left: 90px;
  font-size: 12px;
  color: white;
  transition: 0.3s;
}

.mail_box:hover {
  background-color: #74cfae;
  padding: 14px 12px;
  float: left;
  margin-left: 90px;
  font-size: 12px;
  color: #333;
  transition: 0.3s;
}

.blackbox {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill_title {
  font-size: 24px;
  text-align: center;
  color: white;
}

.circle {
  text-align: center;
  margin-top: 50px;
}

.chart {
  margin-left: 180px;
  display: inline-block;
  color: white;
  font-size: 16px;
  line-height: normal;
}

.chart:first-child {
  margin-left: 0px;
}

.last_box {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #f2f2f2;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon li {
  width: 185px;
}

.icon_box {
  width: 185px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.icon_box:hover {
  background-color: white;
  height: 120px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 60px;
  color: #74cfae;
}

.footer {
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_text {
  color: white;
  font-size: 16px;
  text-align: right;
}

@media screen and (max-width: 1199px) {
  .inner {
    margin: 0 auto;
    width: 97%;
  }

  .greenbox .greenbox_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .greenbox_inner {
    padding-bottom: 25px;
  }

  .what_title {
    font-size: 24px;
    margin-top: 20px;
  }

  .what_text {
    word-break: keep-all;
    width: 97%
  }

  .all_picture {
    float: none;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  .all_picture:nth-child(3n+1) {
    margin-top: 80px;
  }

  .all_picture:nth-child(1) {
    margin-top: 0;
  }

  .all_picture:nth-child(n+5) {
    margin-top: 0;
  }

  .all_picture:nth-child(3n+1) {
    margin-left: 0;
  }

  .our_text {
    width: 97%;
  }

  .our_mail {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mail_box {
    margin-left: 0;
    margin-top: 40px;
  }

  .mail_box:hover {
    margin-left: 0;
  }

  .circle {
    display: flex;
    flex-direction: column;
  }

  .chart {
    margin-left: 0;
    margin-top: 88px;
  }

  .chart:first-child {
    margin-top: 0;
  }
}


@media screen and (max-width:767px) {
  .humburger {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 20px;
    float: right;
  }

  .humburger_bar {
    display: block;
    background-color: #ddd;
    height: 2px;
    width: 100%;
    margin-top: 3px;
  }

  .humburger_bar:first-child {
    margin-top: 0;
  }

  .contact_box {
    display: none;
  }

  .mainbox_inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .title_text {
    text-align: center;
    font-size: 80px;
  }

  .greenbox .greenbox_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon_box:hover {
    background-color: white;
    height: 120px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .last_box {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon li {
    width: 100%;
  }

  .icon_box {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
}

